.animal-text {
    position: relative;
    top: 6.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
    color: #FFEE97;
    font-family: "rubik";
    text-align: right;
    margin: 0rem 2rem;
    padding-top: 0.5rem;
    /* width: 15rem; */
  }