.wheel-text-microfopy {
    position: relative;
    top: -1.5rem;
    font-size: 1.2rem;
    color: #FFEE97;
    font-family: "rubik";
    text-align: right;
    margin: 0rem 1rem;
    padding-top: 0.5rem;
}
.wheel-text {
    position: relative;
    top: 7rem;
    font-size: 1.2rem;
    /* margin-bottom: 1rem; */
    color: #FFEE97;
    font-family: "rubik";
    text-align: right;
    margin: 0rem 1rem;
    padding-top: 0.5rem;
    /* font-weight: 700; */
    /* width: 15rem; */
}
.tools {
    position: absolute;
    top: -0.5rem;
    left: -4.55rem;
}