.flip-card {
    position: relative; /* חשוב */
    background-color: transparent;
    width: 15rem;
    height: 3rem;
    perspective: 1000px;
    flex-shrink: 0; /* מונע כיווץ */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* כשהכרטיס flipped */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    margin-right: -1.2rem; */
    width: 14rem;
    height: 8rem;
    background-image: url('../assets/images/keepingDistance/licensePlate.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    /* אין צבע רקע */
    border: none;
    /* אין מסגרת */
    outline: none;
    /* margin-top: 1rem; */
    cursor: pointer;
}

.flip-card-back {
    width: 14rem;
    height: 8rem;
    background-image: url('../assets/images/keepingDistance/licensePlateBack.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    /* אין צבע רקע */
    border: none;
    /* אין מסגרת */
    outline: none;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.change-bag-size {
    width: 12rem;
    height: 12rem;
    font-size: 1.3rem;
}

.textBack {
    padding: 5%;
    font-family: "rubik";
    font-size: 1rem;
}

/* .textFront {
    font-size: 2rem;
    font-family: assistant;
} */

/* @media (max-width: 350px) {
    .flip-card {
        width: 9.5rem;
        height: 13rem;
    }
    .textFront {
        font-size: 1.8rem;
    }
    .textBack {
        padding: 3%;
        font-size: 0.75rem;
    }
    
}
@media (max-height: 750px) {
    .flip-card {
        width: 9.5rem;
        height: 13rem;
    }
    .textFront {
        font-size: 1.8rem;
    }
    .textBack {
        padding: 3%;
        font-size: 0.75rem;
    }
}
@media (max-height: 700px) {
    .flip-card {
        height: 12rem;
    }
    .textBack {
        padding: 2%;
        font-size: 0.7rem;
    }
} */
