
  /* ======= כפתור פתיחת/סגירת המפה ======= */
/* כפתור פתיחת / סגירת מפה */
.toggle-map-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.2rem;
  width: 6rem;
  height: 5rem;
  background-image: url('../assets/images/subjMap/backToMap.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; /* אין צבע רקע */
  border: none;                  /* אין מסגרת */
  cursor: pointer;               /* עכבר מראה שהוא לחיץ */
  outline: none;                 /* מסגרת ברירת מחדל של פוקוס נעלמת */
  padding-top: 2rem; 
  font-family: "rubik";
  font-weight: 700; 
  color: #FFEE97;
  z-index: 3; 
  pointer-events: auto;
}
.map-overlay {
  position: absolute;          /* כדי שתהיה מעל כל התוכן */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.644); /* חצי שקופה */
  z-index: 1;             /* מעל כל שאר התוכן */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-attention {
  position: absolute;
  top: 31%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 9rem;
  background-image: url('../assets/images/PayAttention.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem; 
  font-family: "rubik";
  font-weight: 700; 
  color: #003F88;
  z-index: 2; 
  pointer-events: auto;
}
.text-payAttetion {
  width: 15rem;
  position: relative;
  top: 1.5rem;
  right: 3rem;
}


  