.intro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* margin-top: 2.3rem; */
}

.title-introduction {
    position: relative;
    top: 5rem;
    font-size: 2.4rem;
    font-family: "abraham";
    color: #FFEE97;
}

.intro-page2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sec-title-intro {
    position: relative;
    width: 25rem;
    top: 6rem;
    font-size: 1.4rem;
    font-family: "rubik";
    color: #FFEE97;
}

.sign-crash {
    position: relative;
    top: 7rem;
    right: -1.3rem;
    width: 28rem;
    height: 25rem;
    background-image: url('../assets/images/introduction/signCrash.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rubik";
    font-size: 1.1rem;
    color: #003F88;
    pointer-events: auto;
  
    display: flex;                /* נשתמש בפלקס */
    align-items: center;          /* מרכז אנכית */
    justify-content: flex-start;      /* מרכז אופקית */
    text-align: right;            /* עברית */
    direction: rtl;               /* עברית */
    padding: 1.5rem;              /* רווח פנימי כדי שהנקודות ייראו */
  }
  
  .my-list {
    list-style-type: disc ; /* מוודא שהנקודות חוזרות */
    list-style-position: outside;     /* שהנקודות יהיו קרובות לטקסט */
    margin-right: 3rem;
    margin-top: -15rem;
    padding: 0;
  }
  
  .my-list li {
    margin-bottom: 0.5rem;
  }
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 2rem;
  }
/*   
  .nav-buttons1  {
    background-color: #003F88;
    color: #FFEE97;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    font-family: "rubik";
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
  } */
  
  .nav-buttons button:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
  .nav-button1{
    position: absolute;
    top: 38rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    background-image: url('../assets/images/backBtn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; /* אין צבע רקע */
    border: none;                  /* אין מסגרת */
    cursor: pointer;               /* עכבר מראה שהוא לחיץ */
    outline: none;                 /* מסגרת ברירת מחדל של פוקוס נעלמת */
    padding-top: -0.7rem; 
    font-family: "rubik";
    font-weight: 700; 
    color: #003F88;
    pointer-events: auto;
  }
  .nav-button2{
    position: absolute;
    top: 38rem;
    right: 19rem;
    width: 4rem;
    height: 4rem;
    background-image: url('../assets/images/nextBtn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; /* אין צבע רקע */
    border: none;                  /* אין מסגרת */
    cursor: pointer;               /* עכבר מראה שהוא לחיץ */
    outline: none;                 /* מסגרת ברירת מחדל של פוקוס נעלמת */
    padding-top: -0.5rem; 
    font-family: "rubik";
    font-weight: 700; 
    color: #003F88;
    pointer-events: auto;
  }
  
  
  