.container-map {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26rem;
    height: 40rem;
    background-image: url('../assets/images/subjMap/mapRoad.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.progressCar {
    width: 6rem;
    position: absolute;
    top: 2rem;
    right: 18rem;
}
.map-title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2.3rem;
}
.map-title {
    position: relative;
    /* top: 2.8rem; */
    font-size: 2.4rem;
    font-family: "abraham";
    color: #FFEE97;
  }
  .map-sec-title {
    position: relative;
    /* top: 3rem; */
    font-size: 1.2rem;
    font-family: "rubik";
    color: #FFEE97;
  }
  .subjects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  .subject {
    width: 5rem;
  }
  .roadside {
    position: relative;
    top: -1.5rem;
    left: 4.5rem;
  }
  .keepingDistance {
    position: relative;
    top: -6.5rem;
    left: -4.5rem;
  }
  .animalAccidents {
    position: relative;
    top: -7.5rem;
    left: -3.3rem;
  }
  .changingWheel {
    position: relative;
    top: -11rem;
    left: 8.3rem;
  }
  .fireDrill {
    position: relative;
    top: -14rem;
    left: 2.5rem;
  }
  .flippingDrill {
    position: relative;
    top: -21rem;
    left: -7.5rem;
  }
  .practice {
    position: relative;
    top: -22.3rem;
    left: -3rem;
  }
  /* אנימציית Pop */
@keyframes popAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* מחלקה שמפעילה את האנימציה */
.pop-animation {
  animation: popAnimation 1.5s ease-in-out infinite;
}
  /* .subjects.introduction {
    position: relative;
    top: 3rem;
  } */

  /* אנימציה של הנושא הגדול */
@keyframes pop {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(2); }
}

/* עידוד */
.encouragement {
  position: relative;
  top: -51rem;
  right: 5rem;
  font-size: 1.4rem;
  font-family: "rubik-bold";
  color: #FFEE97;
  z-index: 2;
  animation: popFade 0.6s ease-out both;
}


@keyframes popFade {
  0% {
    opacity: 0;
    transform: translateY(12px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-4px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
/* סטייל המכונית */

  @media (max-width: 380px) {
    .container-map {
        width: 23.5rem;
        top: 48%;
    }
    .progressCar {
        width: 6rem;
        top: 3.5rem;
        right: 16rem;
    }
    .subjects-wrapper {
      margin-top: 4.8rem;
    }
    .subject {
      width: 4.4rem;
    }
    .changingWheel {
      left: 7.5rem;
    }
    .flippingDrill {
      top: -19.5rem;
      left: -7rem;
    }
    .practice {
      top: -21rem;
    }
    .encouragement {
      top: -47rem;
    }

  }
  @media (max-width: 350px) {
    .container-map {
        width: 22rem;  
        top: 48%;
    }
    .progressCar {
        width: 5.5rem;
        top: 4.6rem;
        right: 15rem;
    }
    .subject {
      width: 4.3rem;
    }
    .encouragement {
      top: -46rem;
    }
  }
