.container-map {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26rem;
    height: 40rem;
    background-image: url('../assets/images/subjMap/mapRoad.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.progressCar {
    width: 6rem;
    position: absolute;
    top: 2rem;
    right: 18rem;
}
.map-title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2.3rem;
}
.map-title {
    position: relative;
    /* top: 2.8rem; */
    font-size: 2.4rem;
    font-family: "abraham";
    color: #FFEE97;
  }
  .map-sec-title {
    position: relative;
    /* top: 3rem; */
    font-size: 1.2rem;
    font-family: "rubik";
    color: #FFEE97;
  }
  .subjects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  .subject {
    width: 5rem;
  }
  .roadside {
    position: relative;
    top: -1.5rem;
    left: 4.5rem;
  }
  .distance {
    position: relative;
    top: -6.5rem;
    left: -4.5rem;
  }
  .animals {
    position: relative;
    top: -7.5rem;
    left: -3.3rem;
  }
  .wheel {
    position: relative;
    top: -11rem;
    left: 8.3rem;
  }
  .fire {
    position: relative;
    top: -13rem;
    left: 2.5rem;
  }
  .turning-over {
    position: relative;
    top: -21rem;
    left: -7.5rem;
  }
  .practice {
    position: relative;
    top: -22.3rem;
    left: -3rem;
  }
  /* אנימציית Pop */
@keyframes popAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* מחלקה שמפעילה את האנימציה */
.pop-animation {
  animation: popAnimation 1s ease-in-out infinite;
}
  /* .subjects.introduction {
    position: relative;
    top: 3rem;
  } */

  @media (max-width: 380px) {
    .container-map {
        width: 23.5rem;
        top: 52%;
    }
    .progressCar {
        width: 6rem;
        top: 3.5rem;
        right: 16rem;
    }
  }
  @media (max-width: 350px) {
    .container-map {
        width: 22rem;  
        top: 50%;
    }
    .progressCar {
        width: 5.5rem;
        top: 4.6rem;
        right: 15rem;
    }
  }
