.container-graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.graphic1 {
  width: 9rem;
  height: 9rem;
  background-color: #FFEE97;
  z-index: 1;
  position: relative;
  top: 8rem;
  left: 5.5rem;
  border-radius: 1rem;
}
.div-text-graphic1 {
  margin-top: 5rem;
  margin-right: -1.5rem;
  width: 12rem;
  height: 6.5rem;
  background-image: url('../assets/images/blur-bubble.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  /* אין צבע רקע */
  border: none;
  /* אין מסגרת */
  outline: none;
}
.text-graphics {
  position: relative;
  top: 2rem;
  right: 1rem;
  font-family: "rubik";
  width: 10rem;
  color: #003F88;
  font-weight: 700;
}

.graphic2 {
  width: 9rem;
  height: 9rem;
  background-color: #FFEE97;
  z-index: 1;
  position: relative;
  top: 6rem;
  left: -6rem;
  border-radius: 1rem;
}
.div-text-graphic2 {
  margin-top: 5rem;
  margin-right: -1.2rem;
  width: 12rem;
  height: 6.5rem;
  background-image: url('../assets/images/blur-bubble.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  /* אין צבע רקע */
  border: none;
  /* אין מסגרת */
  outline: none;
}
.graphic3 {
  width: 9rem;
  height: 9rem;
  background-color: #FFEE97;
  z-index: 1;
  position: relative;
  top: 4rem;
  left: 6rem;
  border-radius: 1rem;
}
.div-text-graphic3 {
  margin-top: 5rem;
  margin-right: -1.3rem;
  width: 12rem;
  height: 6.5rem;
  background-image: url('../assets/images/blur-bubble.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  /* אין צבע רקע */
  border: none;
  /* אין מסגרת */
  outline: none;
}
@media (max-width: 350px) {
  .graphic1 {
    left: 5rem;
  }
  .graphic2 {
    left: -5rem;
  }
  .graphic3 {
    left: 5rem;
  }
}
